<div id="modal" class="modal teal lighten-5" ng-class="{open : show}">
    <div class="modal-content orange lighten-1">
        <h4 class="white-text">Are you sure you want to delete {{title}}</h4>

    </div>
    <div class="modal-content">
        <a class="waves-effect waves-light btn" ng-click="completeAction()">Yes</a>
        <a class="waves-effect waves-light btn" ng-click="show = false">Cancel</a>
    </div>
</div>