<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Angular 1.5.x - {{vm.title}}</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="javascript:;" ui-sref="app.admin.dashboard">Home</a></li>
            <li><a class="waves-effect waves-light btn" href="javascript:;" ui-sref="app.admin.logout">logout</a></li>
        </ul>
    </div>
</nav>