<div class="row">
    <form class="col s12" name="vm.registerForm" ng-submit="vm.initiateRegister()">
        <div class="row">
            <div class="col s12">
                <h3>Registration page</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <span ng-show="vm.ui.errors.takenUsername">Username already taken!</span>
                <span ng-show="vm.ui.errors.takenEmail">Email already taken!</span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input
                        placeholder="username"
                        id="icon_prefix"
                        type="text"
                        class="validate"
                        ng-model="vm.userData.username"
                        ng-blur="vm.checkUsername()"
                        ng-minlength="5"
                        ng-required="true"
                        name="username"
                >
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input placeholder="email"
                       id="icon_email"
                       type="email"
                       class="validate"
                       ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                       ng-model="vm.userData.email"
                       ng-blur="vm.checkEmail()"
                       ng-required="true"
                       name="email"
                >
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">lock</i>
                <input placeholder="password"
                       id="icon_password"
                       type="password"
                       class="validate"
                       ng-model="vm.userData.password"
                       ng-required="true"
                       ng-minlength="8"
                       ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}/"
                       name="password"
                >
            </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn-large" ng-disabled="vm.registerForm.$invalid">register</button>
    </form>
</div>
