<div class="row">
    <div class="col s12 m6" ng-repeat="board in vm.boards">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{board.name}}</span>
            </div>
            <div class="card-action">
                <a href="javascript:;"
                   ui-sref="app.admin.board({id: board.id, board: board})">GO</a>
                <a href="javascript:;" ng-click="vm.deleteBoard(board)">DELETE</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">
        <button ng-click="vm.createBoard()">CREATE BOARD</button>
    </div>
</div>
<confirm-modal
        data-show="vm.ui.modal.show"
        data-title="{{vm.ui.modal.title}}"
        data-action="vm.confirmDelete(item)"
        data-item="vm.ui.modal.itemToDelete">
</confirm-modal>