<nav class="light-blue">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Angular App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#!/login">Login</a></li>
            <li><a href="#!/register">Register</a></li>
        </ul>
    </div>
</nav>