<div class="row">
    <form class="col s12" ng-submit="vm.initiateLogin()" name="vm.loginForm">
        <div class="row">
            <div class="col s12">
                <h2>Login page</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12" ng-show="vm.ui.errors.invalidCredentials">
                Your credentials were wrong. Please try again
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input placeholder="username" id="icon_prefix" type="text" class="validate" ng-model="vm.userData.username">
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">lock</i>
                <input placeholder="password" id="icon_password" type="password" class="validate" ng-model="vm.userData.password">
            </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn-large">login</button>
    </form>
</div>