<div class="row">
    <div class="col s12 m5" ng-repeat="card in vm.board.cards">
        <div class="card-panel teal" >
            <div class="white-text">
                <p>{{card.name}}</p>
                <p>{{card.text_content}}</p>
            </div>
            <a href="javascript:;" ng-click="vm.deleteCard(card)">delete</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">
        <button ng-click="vm.createCard()">CREATE CARD</button>
    </div>
</div>
<confirm-modal
        data-show="vm.ui.modal.show"
        data-title="{{vm.ui.modal.title}}"
        data-action="vm.confirmDelete(item)"
        data-item="vm.ui.modal.itemToDelete">
</confirm-modal>